.card{
    border: 1px solid hsl(0, 0%, 70%);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 37%, 0.425);
    padding: 20px;
    margin: 10px;
    text-align: center;
    max-width: 530px;
    display: inline-block;


}